#app {
	width: 100%;
	min-width:980px;
}
.login-container,
.notfound-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: -webkit-translate(-50%, -50%);
	transform: -moz-translate(-50%, -50%);
	transform: -ms-translate(-50%, -50%);
	text-align: center;
}
.subcontent-wrapper {
	margin: 16px;
}